@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #FFF5F2;
}

.shadow-t{
    box-shadow: 0 4px 6px 10px rgb(0 0 0 / 0.1), 0 2px 4px -10px rgb(0 0 0 / 0.1);
}

@media (max-width: 1024px) {
    .semi-circle{
        height: 7rem;
        width: 17rem;
        border-radius: 10rem 10rem 0 0;
        position: relative;
        top: -3rem;
    }

    .menu-icon-home{
        position: relative;
        top: -2rem;
        -webkit-box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .menu-icon-animal{
        position: relative;
        top: -0.5rem;
        left: -1.5rem;
        -webkit-box-shadow: -5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: -5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: -5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .menu-icon-profil{
        position: relative;
        top: 3.3rem;
        left: -1rem;
        -webkit-box-shadow: -4px -2px 4px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: -4px -2px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: -4px -2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .menu-icon-ride{
        position: relative;
        top: -0.5rem;
        right: -1.5rem;
        -webkit-box-shadow: 5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
    }

    .menu-icon-advice{
        position: relative;
        top: 3.3rem;
        right: -1rem;
        -webkit-box-shadow: 4px -2px 4px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 4px -2px 4px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 4px -2px 4px 0px rgba(0, 0, 0, 0.1);
    }
}

.menu-icon-home{
    -webkit-box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -4px 4px 0px rgba(0, 0, 0, 0.1);
}

.menu-icon-animal{
    -webkit-box-shadow: -5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
}

.menu-icon-profil{
    -webkit-box-shadow: -4px -2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: -4px -2px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: -4px -2px 4px 0px rgba(0, 0, 0, 0.1);
}

.menu-icon-ride{
    -webkit-box-shadow: 5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 5.5px -2px 4px 0px rgba(0, 0, 0, 0.1);
}

.menu-icon-advice{
    -webkit-box-shadow: 4px -2px 4px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 4px -2px 4px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 4px -2px 4px 0px rgba(0, 0, 0, 0.1);
}

.slides-container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
  }

  .slides-container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }

  .text-white{
    color: white;
  }

  .input-focus-red{
    border-color: #B50707;
    border-width: 3px;
  }

  .parent-hover:hover {
    background-color: #AF3929;
    border-radius: 0.5rem;
  }

  .parent-hover:hover .child-hover{
    opacity: 0.8;
    transition: all 0.2s;
  }

  .error-form{
    color: #910202;
    font-weight: bold;
  }

  .date_vaccine_input input{
    border-color: #B50707;
    border-width: 3px;
  }

  .tabcontent {
    display: none;
  }

  .tabcontent-active {
    display:grid;
  }

  .tabLinks{
    background-color: #D15B4B;
    margin: 0;
    padding: 0.5em;
  }

  .active{
    background-color: #FEC4B7;    
  }