<script src="{{ asset('js/carrousel.js') }}"></script>

<div class="relative w-full h-52 mx-auto bg-button-menu">
    <div class="slide relative h-40 flex flex-row justify-center items-center mx-14 my-4">
        <div class="mx-4">
            <img src="{{asset('images/default/dog.JPG')}}" alt="nom de l'animal" class="w-28 h-28 rounded-full"/>
        </div>
        <div class="mx-4">
            <h2>Mirabel, border collie</h2>
            <p class="ml-4">Age : 1 an et 1 mois</p>
            <p class="ml-4">Poids : 19 kg</p>
            <p class="ml-4">Prochain vaccin : 22 mai 2024</p>
            <p class="ml-4">RDV vétérinaire : 30 juin 2024</p>
        </div>
    </div>
    <div class="slide hidden relative h-40 flex flex-row justify-center items-center mx-14 my-4">
        <div class="mx-4">
            <img src="{{asset('images/default/dog.JPG')}}" alt="nom de l'animal" class="w-28 h-28 rounded-full"/>
        </div>
        <div class="mx-4">
            <h2>Mirabel, border collie</h2>
            <p class="ml-4">Age : 1 an et 1 mois</p>
            <p class="ml-4">Poids : 19 kg</p>
            <p class="ml-4">Prochain vaccin : 22 mai 2024</p>
            <p class="ml-4">RDV vétérinaire : 30 juin 2024</p>
        </div>
    </div>
    <div class="slide hidden relative h-40 flex flex-row justify-center items-center mx-14 my-4">
        <div class="mx-4">
            <img src="{{asset('images/default/dog.JPG')}}" alt="nom de l'animal" class="w-28 h-28 rounded-full"/>
        </div>
        <div class="mx-4">
            <h2>Mirabel, border collie</h2>
            <p class="ml-4">Age : 1 an et 1 mois</p>
            <p class="ml-4">Poids : 19 kg</p>
            <p class="ml-4">Prochain vaccin : 22 mai 2024</p>
            <p class="ml-4">RDV vétérinaire : 30 juin 2024</p>
        </div>
    </div>

    <!-- The previous button -->
    <a class="absolute left-0 top-1/2 p-4 -translate-y-1/2 bg-black/30 hover:bg-black/50 text-white hover:text-amber-500 cursor-pointer"
        onclick="moveSlide(-1)">❮</a>

    <!-- The next button -->
    <a class="absolute right-0 top-1/2 p-4 -translate-y-1/2 bg-black/30 hover:bg-black/50 text-white hover:text-amber-500 cursor-pointer"
        onclick="moveSlide(1)">❯</a>

        <!-- The dots -->
    <div class="flex justify-center items-center space-x-2.5">
        <div class="dot w-4 h-4 rounded-full cursor-pointer bg-background" onclick="currentSlide(1)"></div>
        <div class="dot w-4 h-4 rounded-full cursor-pointer bg-text" onclick="currentSlide(2)"></div>
        <div class="dot w-4 h-4 rounded-full cursor-pointer bg-text" onclick="currentSlide(3)"></div>
    </div>
</div>



